<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.nenick.quacc.core">

    <application>
        <provider
            android:name="de.nenick.quacc.database.provider.QuAccProvider"
            android:authorities="de.nenick.quacc.database.provider"
            android:exported="false" />
    </application>

</manifest>
