<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.nenick.quacc" >

    <!-- Use audio record for speech recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- use read/write storage for backup -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".QuAccApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:name" >
        <activity
            android:name=".view.main.MainActivity_"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.accounting_create.CreateAccountingActivity_"
            android:label="@string/title_activity_add_accounting"
            android:parentActivityName=".view.accounting_overview.AccountingListActivity_" />
        <activity
            android:name=".view.accounting_overview.AccountingListActivity_"
            android:label="@string/title_activity_accounting_list" />
        <activity
            android:name=".view.category.CategoriesActivity_"
            android:label="@string/title_activity_categories"
            android:parentActivityName="view.accounting_overview.AccountingListActivity_" >
        </activity>
        <activity
            android:name=".view.account.AccountsActivity_"
            android:label="@string/title_activity_accounts"
            android:parentActivityName="view.accounting_overview.AccountingListActivity_" >
        </activity>
    </application>

</manifest>
