<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.nenick.quacc">

    <application>
        <activity
            android:name=".test.DummyLauncherActivity_"
            android:label="Dummy Launcher" />
    </application>

</manifest>
